pre {
    max-height: 300px;
    overflow-y: auto;
    border: 1px dotted grey;
}

:host {
    display: block;
    color: green;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

:host[root] {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
